<div class="flex flex-row items-center justify-between w-full h-20 pl-8">
	<div>
		<fa-icon [icon]="solid['faAnglesLeft']" class="dark:text-dark-0" />
	</div>
	<div class="flex items-center w-[70%]">
		<!-- <fa-icon [icon]="solid['faSearch']" class="absolute ml-5 dark:text-dark-0 text-[13px]" />
		<input type="text" class="w-full dark:bg-dark-40 py-2 rounded-full indent-10 dark:placeholder-dark-0 text-sm" placeholder="Search"> -->
	</div>
	<div class="flex justify-center items-center h-10 w-10 border dark:border-dark-20 rounded-full">
		<fa-icon [icon]="solid['faUser']" class="dark:text-light-50 text-[13px]" />
	</div>
</div>
