<div class="flex w-full flex-col">
	<div class="mt-6 flex w-[65%] flex-col justify-center self-center">
		<h1 class="text-4xl dark:text-light-50">{{ note().title }}</h1>
		<h3 class="mt-5 border-b dark:border-dark-20 pb-12 text-xl dark:text-light-0">{{ note().subtitle }}</h3>
		<p class="w-60% mt-12 bg-transparent leading-7"></p>
	</div>
	<div class="markedArea mt-6 flex w-[65%] flex-row self-center">
		<textarea
			autoFocus
			class="h-[600px] flex-1 resize-none bg-transparent text-sm leading-6 dark:text-light-40 outline-none"
			(input)="handleOnChange($event)"></textarea>
		<div class="marked flex-1" [innerHTML]="mdContent()"></div>
	</div>
</div>

<!--
| Coluna 1 | Coluna 2 | Coluna 3 |
|----------|----------|----------|
| Dado 1   | Dado 2   | Dado 3   |
| Dado 4   | Dado 5   | Dado 6   |
---
# Título 1
## Título 2
### Título 3
---
**negrito**, *itálico*

---
> "Citação, isto é um mero
>
> exemplo de como fazer."
---

###### Lista ordenada:
1. item 1
2. item 2

###### Lista desordenada:
- Gato
- Maçã

-->
