<div class="flex h-full w-full flex-col">
	<div class="flex h-full flex-col rounded-xl dark:bg-dark-40">
		<fa-icon [icon]="solid['faBars']" class="ml-6 mt-6 inline-block" />

		<div class="mt-12 flex flex-row items-center px-6 py-3">
			<button class="flex w-full flex-row items-center justify-between">
				<div>
					<fa-icon [icon]="solid['faDatabase']" class="text-[16px]" />
					<span class="text-md mx-3 dark:text-light-50">Work</span>
				</div>

				<div class="flex flex-col items-center dark:text-dark-0">
					<fa-icon [icon]="solid['faChevronUp']" class="h-[7px] text-[12px] " />
					<fa-icon
						[icon]="solid['faChevronDown']"
						class="mb-[6px] h-[7px] text-[12px]" />
				</div>
			</button>
		</div>

		<div class="mt-2 flex flex-col">
			@for (folder of folders(); track $index) {
				<div class="mt-2 flex h-6 flex-col justify-between px-6">
					<div class="flex h-6 flex-row items-center">
						<fa-icon [icon]="solid['faChevronRight']" class="text-[11px] dark:text-dark-0" />
						<span class="ml-3 text-sm dark:text-light-50">{{ folder }}</span>
					</div>

					@for (note of this.getNotesByFolder(folder); track $index) {
						<span class="ml-9 mt-2 text-sm dark:text-light-50">{{ note.title }}</span>
					}
				</div>
			}
		</div>

		<div
			class="row mx-3 mb-3 mt-auto flex items-center justify-center rounded-md dark:bg-dark-30 px-6 py-2">
			<button class="flex flex-row items-center justify-center">
				<fa-icon [icon]="solid['faPlus']" class="text-[16px] text-zinc-200" />
			</button>
		</div>
	</div>
</div>
